.bg{
  background: url('images/loginBg.png') no-repeat;
  width: 100%;
  height: 100vh;
  background-size: 100%;
}

.form-container{
  position: absolute;
  top: 30vh;
  background-color: #dacec7;
  padding: 30px;
  border-radius: 15px;
}

.btn{
  background-color:#221F26;
}

a {
  color: white;
  font-family: 'Oswald', sans-serif;
 }

@media only screen and (max-width:670px){
  .bg{
    background-size: 300%;
  }
}
